body {
    background-color: pink;
}

html, body, #root {
    width: 100vw;
    height: 100vh;
    margin: 0;
}

.board {
    width: 100%;
    height: 100%;
    background-color: #fff;
}
   
.player {
    position: absolute;
    background-color: chartreuse;
    width: 5%;
    height: 5%;
    left: 50%;         
    transform: translate(-50%, 0);
    top: 50%;
    transform: translate(0, -50%);
}